*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Nav Styling */
nav {
    background-color: #b3b2b2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  nav h1 {
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .search {
    background-color: white;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 5px;
  }
  #conditionDestination {
    border: none;
    color: black;
  }

  button {
    padding: 7px 15px;
    background-color: rgb(148, 148, 246);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(79, 79, 213);
  }

  
  /* main page styling */
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-image: url('backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 25px;
    color: white;
  }

  .icons i {
    margin-bottom: 5px;
  }

  .textContainer {
    width: 50%;
    margin-left: 50px;
  }

  .textContainer_title {
    margin-bottom: 25px;
    color: white;
  }

  .textContainer_text {
    margin-bottom: 25px;
    color: white;
    max-width: 500px;
  }

  /* About page styling */

  .textContainer_about {
    margin-left: 100px;
  }

  .textContainer_title__about {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .textContainer_text__about {
    width: 90vw;
    padding: 25px;
    margin-bottom: 50px;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .textContainer_team {
    display: flex;
    margin-left: 50px;
  }

  .textContainer_team h1 {
    font-size: 38px;
  }
  .teamContainer_team {
    display: flex;
  }

  .teamMember {
    padding: 25px;
    margin: 10px;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .teamMember div {
    margin-bottom: 10px;
  }

  .teamMember p {
    margin-bottom: 10px;
  }

  .teamMember_name {
    display: flex;
  }

  .teamMember_name h4 {
    margin-left: 15px;
  }

  .subContainer {
    display: flex;
    flex: row;
    max-height: 50vh;
  }

  #result {
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 100px;
    overflow-y: auto;
  }

  .resultImage {
    width: 100%;
    margin-bottom: 10px;
  }

  .resultName {
    color: black;
    margin-bottom: 10px;
  }

  .resultDescription {
    color: black;
    margin-bottom: 10px;
  }

  .resultBtn {
    margin-bottom: 10px;
  }


  /* Contact Us page styling */

  #contactForm {
    max-width: 400px;
    margin: 0 auto;
  }
  #contactForm input,
  #contactForm textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
  }
  #contactForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  #contactForm button:hover {
    background-color: #0056b3;
  }

  .textContainer_form {
    padding: 20px;
    margin: 10px;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }


  .textContainer_contact {
    display: flex;
    width: 80vw;
    justify-content: center;
  }

  .textContainer_title__Contact h1 {
    font-size: 48px;
    margin-top: 100px;
  }

  .blurBackground {
    padding: 20px;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }